<div class="blog-card">
    <div class="meta">
      <div class="photo" style="background-image: url(https://s.t13.cl/sites/default/files/styles/manualcrop_850x475/public/t13/field-imagen/2017-05/1494421310-colorado.jpg.jpeg?itok=elK1tsVM)"></div>
      <ul class="details">
        <li class="author"><a>Chapulin colorado</a></li>
        <li class="date">15-06-2023</li>
      </ul>
    </div>
    <div class="description">
      <h1>Chapulin colorado</h1>
      <h2>Chapulin colorado</h2>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
      <!--<p class="read-more">
        <a routerLink="/producto">presioname</a>
      </p>-->
    </div>
  </div>
  <div class="blog-card">
    <div class="meta">
      <div class="photo" style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGpzpW4cfMR2gzWRkiRDnWVb-DBhSyDQXJ0w&usqp=CAU)"></div>
      <ul class="details">
        <li class="author"><a>Goku-kakaroto</a></li>
        <li class="date">15-06-2023</li>
      </ul>
    </div>
    <div class="description">
      <h1>Goku-kakaroto</h1>
      <h2>Goku-kakaroto</h2>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
      <!--<p class="read-more">
        <a routerLink="/producto">presioname</a>
      </p>-->
    </div>
  </div>
  <div class="blog-card">
    <div class="meta">
      <div class="photo" style="background-image: url(https://www.tonica.la/__export/1677464824547/sites/debate/img/2023/02/26/chainsaw-man-animes.jpg_554688468.jpg)"></div>
      <ul class="details">
        <li class="author"><a>CHAINSAW-man</a></li>
        <li class="date">15-06-2023</li>
      </ul>
    </div>
    <div class="description">
      <h1>CHAINSAW-man</h1>
      <h2>CHAINSAW-man</h2>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
      <!--<p class="read-more">
        <a routerLink="/producto">presioname</a>
      </p>-->
    </div>
  </div>
  <div class="blog-card">
    <div class="meta">
      <div class="photo" style="background-image: url(https://i.blogs.es/07cda2/naruto-feliz-1-/1366_2000.jpeg)"></div>
      <ul class="details">
        <li class="author"><a>Naruto Uzumaki</a></li>
        <li class="date">15-06-2023</li>
      </ul>
    </div>
    <div class="description">
      <h1>Naruto Uzumaki</h1>
      <h2>Naruto Uzumaki</h2>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
      <!--<p class="read-more">
        <a routerLink="/producto">presioname</a>
      </p>-->
    </div>
  </div>
  <div class="blog-card">
    <div class="meta">
      <div class="photo" style="background-image: url(https://s.t13.cl/sites/default/files/styles/manualcrop_850x475/public/t13/field-imagen/2017-05/1494421310-colorado.jpg.jpeg?itok=elK1tsVM)"></div>
      <ul class="details">
        <li class="author"><a>Chapulin colorado</a></li>
        <li class="date">15-06-2023</li>
      </ul>
    </div>
    <div class="description">
      <h1>Chapulin colorado</h1>
      <h2>Chapulin colorado</h2>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
      <!--<p class="read-more">
        <a routerLink="/producto">presioname</a>
      </p>-->
    </div>
  </div>
  <div class="blog-card">
    <div class="meta">
      <div class="photo" style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGpzpW4cfMR2gzWRkiRDnWVb-DBhSyDQXJ0w&usqp=CAU)"></div>
      <ul class="details">
        <li class="author"><a>Goku-kakaroto</a></li>
        <li class="date">15-06-2023</li>
      </ul>
    </div>
    <div class="description">
      <h1>Goku-kakaroto</h1>
      <h2>Goku-kakaroto</h2>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
      <!--<p class="read-more">
        <a routerLink="/producto">presioname</a>
      </p>-->
    </div>
  </div>
  <div class="blog-card">
    <div class="meta">
      <div class="photo" style="background-image: url(https://www.tonica.la/__export/1677464824547/sites/debate/img/2023/02/26/chainsaw-man-animes.jpg_554688468.jpg)"></div>
      <ul class="details">
        <li class="author"><a>CHAINSAW-man</a></li>
        <li class="date">15-06-2023</li>
      </ul>
    </div>
    <div class="description">
      <h1>CHAINSAW-man</h1>
      <h2>CHAINSAW-man</h2>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
      <!--<p class="read-more">
        <a routerLink="/producto">presioname</a>
      </p>-->
    </div>
  </div>
  <div class="blog-card">
    <div class="meta">
      <div class="photo" style="background-image: url(https://i.blogs.es/07cda2/naruto-feliz-1-/1366_2000.jpeg)"></div>
      <ul class="details">
        <li class="author"><a>Naruto Uzumaki</a></li>
        <li class="date">15-06-2023</li>
      </ul>
    </div>
    <div class="description">
      <h1>Naruto Uzumaki</h1>
      <h2>Naruto Uzumaki</h2>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
      <!--<p class="read-more">
        <a routerLink="/producto">presioname</a>
      </p>-->
    </div>
  </div>




